{% extends '::base.html.twig' %}

{% block title %}Gnal{% endblock %}

{% block css %}
    <link href="{{ asset('/bundles/msiadmin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block jquery %}<script src="{{ asset('/bundles/msiadmin/vendor/jquery/jquery.js') }}"></script>{% endblock %}

{% block body %}
<div class="container">
    <div class="hero-unit">
        Hello!
    </div>
</div>
{% endblock %}
